<a href="https://colab.research.google.com/github/gisynw/ssj-386/blob/main/docs/Lectures/Week02/Week02PyFdMetal.ipynb" target="_blank">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab" style="height: 30px;"/>
</a>

<a href="./Week02PyFdMetal.ipynb" target="_blank"> 
  <img src="https://img.icons8.com/?size=100&id=108635&format=png&color=000000" alt="Download" style="height: 40px;"/>
 </a>

<center>
    <h2 style="color:  #526cfe; font-family: Arial, sans-serif; font-size: 32px; padding: 10px;">
        Week 2: Python Fundamental Part 1
    </h2>
</center>

<a id='Var'></a>
### 1. Variables
Variable in Python store data values

`print()` is a built-in function in python

In [ ]:
x = 'summer'
print(x)

### 2. Numeirc
#### 2.1 Integer
we can use the **built-in** `type()` **function** to identify the type of variable

In [ ]:
a = 3
type(3)

#### 2.2. float

In [ ]:
c = 6.3
type(c)

#### 2.3 Python Arithmetic Operators
The common mathematical operations can be completed by aritemetic operatos in Python

[Python Arithmetic Operators](https://www.w3schools.com/python/gloss_python_arithmetic_operators.asp)

In [ ]:
3 + 5

In [ ]:
8/4

### 3. Strings
Strings in python are surrounded by either double quotation marks, or single quotation marks

In [ ]:
print("Hello")
print('Hello')

In [ ]:
strs_ex = "It's an apple"

print(type(strs_ex))
print(len(strs_ex))

A number with quotation or without quotation is different

In [ ]:
num = 3
str_3 = '3'
print(type(num))
print(type(str_3))

#### 3.1 Slicing strings

In [ ]:
# Slicing: Return a range of characters by using the slice syntax
x = "Clark is pretty good"
print(len(x))
print(x[1:3])

In [ ]:
# Slice from the start
b = "Hello, Python!"
print(b[:5])

# Slice to the end
print(b[2:])

# Negative indexing
print(b[-5:-2])

<h3 style="text-align: center;">Exercise 1: Get the characters from string</h3>
1. Get the character that index is 0 in x = "Clark is pretty good"

#### 3.2 String Concatenation

In [ ]:
a = "Level"
b = "Up"
c = a + b
print(c)
d = a + ' ' + b
print(d)

#### 3.3 Combine of string and number

In [ ]:
age = 36
txt = "My name is John, I am " + age
print(txt)

<h3 style="text-align: center;">Exercise 2: Type conversion</h3>

1. We have used built-in function like `print()` and `type()` to do task, this time we use `str()` to convert a value to string 
2. Use `str()` function to remove the error

In [ ]:
# F-Strings
age = 5
txt = f"I have lived here for {age} years"
print(txt)

#### 3.4 Methods for String
A **method** is a special type of function, it allow you to do different things with different objects.

We can use methods through **dot notation**: `variable.method()`

In [ ]:
names = "Clark"
u_names = names.upper()
print(u_names)

[Methods for String in Python Documentation](https://docs.python.org/3/library/stdtypes.html#string-methods)

<h3 style="text-align: center;">Exercise 3: Try methods for String</h3>

1. get lowercase of string **names = "Clark'** use `lower()`

### ðŸ’¡ Tip: Guidelines for Variables
- Python is case-sensitive (`apple` and `Apple` are two separate variables).
- Use meaningful variable names (e.g. `university` is clearer than `a_string`). Ideally, you code and variable names should be meaningful.
- Avoid using variable names that conflict with existing python functions or keywords (e.g., `print`, `type`).

### 4. Boolean
- The expression in Python is True and False

In [ ]:
print(5 > 3)

- Most Values are True

In [ ]:
print(bool("abc"))
print(bool(123))
print(bool(["apple", "cherry", "banana"]))

- Empty values are False

In [ ]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))

### 5. List

In [ ]:
myclass = ['python', 'statistics', 'mapping', 'mapping']
print(myclass)
print(len(myclass))

In [18]:
mynote = ["python", 10, True, 'mapping', 23]

#### 5.1 Change list items

In [19]:
grocery_shops = ["Whole Foods", "Trader Joe's", "Stop & stop", "Kroger"]
grocery_shops[1] = "Wegmans"

In [ ]:
#### 5.2 Sort the list
fruits = ['apple', 'orange', 'blueberries', 'Mangoes']
fruits.sort(reverse=False)
print(fruits)

- If you want to sort the list ignoring case sensitivity, you can use the key=str.lower argument:

<h3 style="text-align: center;">Exercise 4: Try method for list</h3>

1. Append **kroger** to list **grocery_shops = ["Whole Foods", "Trader Joe's"]** use `append()`

### 6 Dictionaries
- Dictionaries store data value in key:value pairs
- Access value using the key
- Dictionaries cannot have two items with the same key:

In [ ]:
university = {
  "name": "clark",
  "location": 'MA',
  "location": "worcester",
  "year": 1887,
  'major': ['GIS', 'sociology', 'computer science']
}
 
print(university['name'])
print(university['major'])
print(university)

<h3 style="text-align: center;">Exercise 5: Key in Dictionary</h3>
ðŸ¤” Try what will happen if we have two items with the same key?

#### 6.1 Adding items

In [ ]:
university['room'] = 'BP310'
print(university)

#### 6.2 Methods for dictionaries

In [ ]:
university = {
  "name": "clark",
  "location": "worcester",
  "year": 1887
}

In [ ]:
### Get keys
key_un = university.keys()
key_un

In [1]:
### Dictionaries in Dictionaries
university = {
  "name": "clark",
  "location": "worcester",
  "year": 1887, 
  "description": {'student':3827, 'intro':'''Founded in 1887, Clark offers undergraduate and graduate
                  programs with a focus on interdisciplinary studies,
                  research opportunities, and community engagement'''}}

In [ ]:
print(university['description']['intro'])

<h3 style="text-align: center;">Exercise 5: Try methods for Dictionaries</h3>

1. Use `values()`, `items()` to get value and item from **university**